*.pid
*.xml
*.csr
*.crt
*.key
*.zip
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
*haaska-master
tts
secrets.yaml
known_devices.yaml
*.conf
compiled
conf
apps
.uuid
plex.conf
phue.conf
harmony_media_room.conf
harmony_entertainment.conf
harmony_harmony_hub.conf
master.zip
vasiley.dns1.us.ca-bundle
vasiley.dns1.us.crt
pyozw.sqlite
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
ecobee.conf
harmony.entertainment.conf
fedexdeliverymanager_cookies.pickle
pyozw.sqlite
ozw_log.txt
restcommands.yaml
upsmychoice_cookies.pickle
usps_cookies.pickle
zones.yaml
zwcfg_oxfe22de72.xml
zwscene.xml
zigbee.db
*.ca-bundle
*.ca-bundle.txt
usps_cache.sqlite
*.sqlite
